body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  background-color: #2e93ff;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

h1,
h2 {
  margin: 0px;
  background-color: #2e93ff;
  color: white;
}

.cardGlobal {
  padding-top: 2.5em;
  background-color: rgb(231, 231, 231);
  height: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.questionLine {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0em;
}

.formField {
  width: 800px;
  background-color: rgba(255, 255, 255, 0.815);
  border-radius: 5px;
  margin-bottom: 1em;
}

label {
  margin-right: 1em;
}

input[type="submit"] {
  background-color: rgb(0, 199, 0);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.3em;
  margin-bottom: 1em;
}

input[type="submit"]:hover {
  transform: scale(1.03);
}
